@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';
@import 'node_modules/ngx-bootstrap/datepicker/bs-datepicker';

body {
    color: #342e49;
    font-size: 0.875rem;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f3f7;
}